{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best news highlight website </title>
        {% endif %}
    </head>
    <body>
         
        
        <h1>Welcome to the best news highlight website </h1>

        <!--  General sources section -->


        <h3> General News Sources</h3>
        
        <ul>
            {{ macro.displaySourceList(general)}}
        </ul>           


        

        <!-- Business sources -->
        <h3> Business News Sources </h3>

        <ul>
                {{ macro.displaySourceList(business)}}
        </ul>           
    
        
        <!-- entertainment  sources-->
        <h3>Entertainment News Sources</h3>

        <ul>
                {{ macro.displaySourceList(entertainment)}}
        </ul>           


           <!-- Sports news sources -->
        
        <h3>Sports News Sources</h3>

        <ul>
                {{ macro.displaySourceList(sports)}}
        </ul>           

       
                 
        
    </body>
</html> 