

{% extends 'base.html'%}
{% macro displaySourceList(source_list) %}

        {% for source in source_list %}

        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
    {% endblock %}


<div class ="container">
<!-- 
        <div class="row"> -->
            <div class="col-xs-6">
                <h3 id="name"><a id="name"href="/article/{{source.id}}">{{source.name}}</a></h3> 
                <p class ="well"> {{source.description}}</p>
            </div>
        <!-- </div>
          -->
</div>

{% endfor %}

{% endmacro %}
